<style type='text/css'>
    table {
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 11pt;
        font-family: "Arial, Helvetica, sans-serif";
    }

    th, td {
        padding-left:   6px;
        padding-right:  6px;
        padding-top:    6px;
        padding-bottom: 6px;
    }


    th.player {
        color: white;
        background-color: #4CA5F0;
    }

    td.category {
        color: white;
        background-color: #4CAF50;
    }

    td.bonus {
        color: white;
        background-color: #66aaaa;
    }

    td.thisplayer {
        color: #000000;
    }

    td.thatplayer {
        color: #cccccc;
    }

    th.turn, td.total {
        color: white;
        background-color: #448888;
    }

    th.category, td.category {
        width: 110px;
    }

    th.player, td.player {
        width: 65px;
    }

    die_keep {
        background-color: '';
    }

    die_roll {
        background-color: '';
    }

    <!-- a { text-decoration:none } //-->
</style>
